﻿/*Formato general*/
body 
{
    background-image:url("../imagenes/master/fondoprincipal.png");
}
*
{
	font-family:Arial;
	font-size:small;
}
/*Para la etiqueta de inicio de session*/
.table_paginacion
{
    width:98%;
    height:60px;
}
.tabla_usted_esta_aqui
{
    background-image:url(../imagenes/master/site_map.PNG);
    width:100%;
    height:60px;
}
.table_td_1
{
    text-align:right;
    width:150px;
}
.estilo_encabezado
{
    position:absolute;
    width:1080px;
    height:70px;
    left:0px;
    top:0px;
    background-image:url(../imagenes/master/encabezado.png);
    background-position:center;
    background-repeat:no-repeat;
}