﻿BODY {
    text-align: left;
    }
td{
    text-align: left
    }
.Cabecera{
    width:80%;
    margin-left:20%
    }
.Centro{
    width:60%;
    margin-left:20%;
    -webkit-transition:all .5s linear;
    overflow:hidden;
    }
table{
    width:100%;
    }
a.l-btn-plain{
	background:url('../JavaScript/jquery-easyiu-1.3.1/themes/default/images/button_plain_hover.png') repeat-x left bottom;;
	padding-right:5px;
	border:1px solid #7eabcd;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	}
	
.Txt_Datos_Factura
{
    font-size:12px;
    font-family:Arial;
}


.Centro1{
    width:58.1%;
    margin-left:20%;
    -webkit-transition:all .5s linear;
    overflow:hidden;
    }